In [1]:
import pandas as pd  #importing all the important packages
import numpy as np
import bs4 as bs
import matplotlib.pyplot as plt #currently not used
import seaborn as sns #currently not used
import pickle

from urllib.request import Request, urlopen

req = Request(
    url='https://pokemondb.net/pokedex/stats/height-weight', 
    headers={'User-Agent': 'Mozilla/5.0'}
)
webpage = urlopen(req).read()

#sauce = urllib.request.urlopen('https://pokemondb.net/pokedex/stats/height-weight').read()
soup = bs.BeautifulSoup(webpage,'lxml')
table = soup.find('tbody')

In [2]:
name = []
height_m = []
weight_kgs = []
bmi = []

for t in table.find_all('tr'):
    map = [x.find_next().text for x in t.find_all('td')]
    name.append(map[1])
    height_m.append(map[3])
    weight_kgs.append(map[5])
    bmi.append(map[6])

In [3]:
df = pd.DataFrame({'NAME':name})
df['HEIGHT_M'] = height_m
df['WEIGHT_KGS'] = weight_kgs
df['BMI'] = bmi
df = df.replace('Ho-oh','Ho-Oh')
df = df.drop_duplicates(subset=['NAME'],keep='first')
df = df.set_index('NAME')

In [4]:
df

           HEIGHT_M WEIGHT_KGS    BMI
NAME
Bulbasaur       0.7        6.9   14.1
Ivysaur         1.0       13.0   13.0
Venusaur        2.0      100.0   25.0
Charmander      0.6        8.5   23.6
Charmeleon      1.1       19.0   15.7
...             ...        ...    ...
Quaxly          0.5        6.1   24.4
Lechonk         0.5       10.2   40.8
Smoliv          0.3        6.5   72.2
Fidough         0.3       10.9  121.1
Cetitan         4.5      700.0   34.6

[912 rows x 3 columns]

In [5]:
pickle_in = open('pokemon_noSize.pickle','rb')
df2 = pickle.load(pickle_in).set_index('NAME')
df3 = pd.merge(df, df2, left_index=True, right_index=True)

KeyError: "None of ['NAME'] are in the columns"

In [ ]:
with open ('pokemon.pickle', 'wb') as f:
        pickle.dump(df3,f)
with open ('pokemon_noSize.pickle', 'wb') as f:
        pickle.dump(df2,f)

In [ ]:
df3